<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVATE_KEY</key>
	<string>f98bbd32375a02a5934bfae48b8880b2061bf0ac</string>
	<key>PUBLIC_KEY</key>
	<string>42b357b57aa2a6077a210f9a6aff6f23</string>
</dict>
</plist>
